<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Rejestracja</h3>
            <p class="subtitle has-text-grey">Podaj dane do rejestracji</p>
            <form (ngSubmit)="onSubmit()">
                <div class="box">
                    <div class="card-image has-text-centered" style="font-size:120px; color: #4f5355;">
                        <i class="fa fa-user-plus"></i>
                    </div>
                    <div class="field">
                        <label class="label">Pesel</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" [(ngModel)]="model.countryId" placeholder="Wprowadź PESEL" name="Pesel">
                        </div>
                    </div>


                    <div class="field">
                        <label class="label">E-mail</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input " type="text" [(ngModel)]="model.email" placeholder="E-mail" name="Email">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Nazwisko</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" [(ngModel)]="model.lastName" placeholder="Nazwisko" name="Nazwisko">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Imię</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" [(ngModel)]="model.firstName" placeholder="Imię" name="Imie">
                        </div>
                    </div>
                    <div class="field is-grouped ">
                        <div class="control">
                            <button [disabled]="loading" class="button is-block  is-primary is-large">Zarejestruj</button>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                            />
                        </div>
                        <div class="control">
                            <button routerLink='./' class="button is-black is-danger is-large">Anuluj</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>