<table class=" table is-striped is-narrow is-hoverable  is-fullwidth ">
  <thead class="thead">
    <th width="10%">Imię</th>
    <th width="10%">Nazwisko</th>
    <th width="10%">E-mail</th>
    <th width="10%">Specjalizacja</th>
    <th width="10%">Strona Lekarza</th>
    <th width="10%">Administrator</th>
    <th width="10%">Prawa administratora</th>

  </thead>
  <tbody *ngFor="let doctor of doctors">
    <tr>
      <td width="10%">{{doctor.firstName}}</td>
      <td width="10%">{{doctor.lastName}}</td>
      <td width="10%">{{doctor.email}}</td>
      <table class="is-hoverable">
        <tbody *ngFor="let spec of specs">
          <td *ngIf="spec.id==doctor.specId">{{spec.name}}</td>
        </tbody>
      </table>
      <td>
        <a class="button is-small is-primary" routerLink='/doctors/{{doctor.id}}'>Przejdź</a>
      </td>

      <td width="10%">{{doctor.admin ? "Tak": "Nie"}}</td>
      <td *ngIf="doctor.admin==true">
        <button class="button is-small is-primary" (click)="onSubmit(doctor.id)" type="submit">Odbierz</button>
      </td>
      <td *ngIf="doctor.admin==false">
        <button class="button is-small is-primary" (click)="onSubmit(doctor.id)" type="submit">Nadaj</button>
      </td>
      <br>
      <br>
    </tr>
  </tbody>
</table>