<section class="section">
  <div class="container">
  </div>
</section>
<div class="hero-body">
  <div class="container has-text-centered" *ngFor="let doctor of doctors | paginate: { itemsPerPage: 2, currentPage: currentPage }">
    <div class="columns is-vcentered">
      <div class="column is-4">
        <figure>
          <img src="http://placehold.it/800x600" alt="Description">
        </figure>
      </div>
      <div class="column is-half is-offset-2">
        <h1 class="title is-2">
          {{doctor.firstName}} {{doctor.lastName}}
        </h1>
        <h2 class="subtitle is-4">
          {{doctor.email}}
        </h2>
        <br>
        <p class="has-text-centered">
          <a href='/doctors/{{doctor.id}}' class="button is-medium is-info is-outlined">
            Zarezerwuj wizytę!
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <pagination-template #p="paginationApi" (pageChange)="currentPage = $event" class="pagination is-centered is-outlined">
      <button [disabled]="p.isFirstPage()" (click)="p.setCurrent(1)" class="pagination-previous is-outlined">Pierwsza strona</button>
      <button [disabled]="p.isFirstPage()" (click)="p.previous()" class="pagination-previous is-outlined">Poprzednia strona</button>
      <button [disabled]="p.isLastPage()" (click)="p.next()" class="pagination-previous is-outlined">Następna strona</button>
      <button [disabled]="p.isLastPage()" (click)="p.setCurrent(p.getLastPage())" class="pagination-previous is-outlined">Ostatnia strona</button>
      <ul class="pagination-list">
        <li *ngFor="let page of p.pages">
          <button class="pagination-link" [ngClass]="{ 'is-current' : p.getCurrent() == page.value}" (click)="p.setCurrent(page.value)">{{page.label}}</button>
      </ul>
    </pagination-template>
  </div>
</div>