<br>
<br>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">
          Główne
        </p>
        <ul class="menu-list">
          <li>
            <a href="/adminpanel" routerLinkActive="active" class="button is-danger is-medium">Panel Główny</a>
          </li>
        </ul>
        <p class="menu-label">
          Lekarze
        </p>
        <ul class="menu-list">
          <li>
            <a class="button is-dark is-medium" (click)="addDoctorEnable()">Dodaj Lekarza</a>
            <br>
          </li>
          <li>
            <a class="button is-dark is-medium" (click)="showDoctorsEnable()">Lista Lekarzy</a>
            <br>
          </li>
        </ul>
        <p class="menu-label">
          Użytkownicy
        </p>
        <ul class="menu-list">
          <li>
            <a class="button is-dark is-medium" (click)="showUsersEnable()">Lista Użytkowników</a>
            <br>
          </li>
        </ul>
        <p class="menu-label">
          Specjalizacje
        </p>
        <ul class="menu-list">
          <li>
            <a class="button is-dark is-medium" (click)="addSpecEnable()">Dodaj Specjalizacje</a>
            <br>
          </li>
        </ul>
        <a class="button is-danger">Wyloguj</a>
      </aside>
    </div>
    <div class="column">
      <div class="card article">
        <div class="card-content">
          <section class="hero is-dark welcome is-small">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                    <i class="fa fa-user-secret"></i>
                  Panel Administratora
                </h1>
                <h2 class="subtitle" s>
                  <br>
                </h2>
              </div>
            </div>
          </section>
          <br>
          <br>
          <!-- DODAWANIE LEKARZA -->
          <div *ngIf="showAddDoctor">
            <form id="doctorForm" (ngSubmit)="onSubmit()">
              <section class="hero is-dark is-bold is-small promo-block">
                <div class="hero-body">
                  <div class="container">
                    <h1 class="title">
                      <i class="fa fa-user-md"></i>
                      Dodaj Lekarza
                    </h1>
                    <h2 class="subtitle">
                    </h2>
                  </div>
                </div>
              </section>
              <br>
              <div class="column is-4">
                <div class="field">
                  <label class="label">Pesel</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" [(ngModel)]="model.countryId" placeholder="Pesel Lekarza" name="Pesel">

                  </div>
                </div>
                <div class="field">
                  <label class="label">E-mail</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input " type="text" [(ngModel)]="model.email" placeholder="E-mail" name="Email">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Nazwisko</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" [(ngModel)]="model.lastName" placeholder="Nazwisko" name="Nazwisko">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Imię</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" [(ngModel)]="model.firstName" placeholder="Imię" name="Imie">
                  </div>
                </div>

                <div class="field-body">
                  <div class="field is-narrow">
                    <label class="label">Specjalizacja</label>
                    <div class="control">
                      <div class="select">
                        <select [(ngModel)]="specModel.specName" placeholder="Wybierz specjalizacje" name="Specjalizacja">
                          <option value={{spec.name}} *ngFor="let spec of specs">{{spec.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" (click)="clicked()" [checked]="checkbox" (change)="changed($event)" /> Nadać uprawnienia administratora?
                    </label>
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-primary">Dodaj</button>
                  </div>
                  <div class="control">
                    <button routerLink='./' class="button is-text">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- CREATE SPEC -->
          <div *ngIf="showAddSpec">
              <section class="hero is-dark is-bold is-small promo-block">
                  <div class="hero-body">
                    <div class="container">
                      <h1 class="title">
                        <i class="fa fa-briefcase"></i>
                        Dodaj Specjalizację
                      </h1>
                      <h2 class="subtitle">
                      </h2>
                    </div>
                  </div>
                </section>
                <br>
            <form id="specForm" (ngSubmit)="onSpecSubmit()">
              <div class="column is-4">
                <div class="field">
                  <label class="label">Specjalizacja</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" [(ngModel)]="specModel.specName" placeholder="Wpisz specjalizacje" name="Specjalizacja">
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-primary">Dodaj</button>
                  </div>
                  <div class="control">
                    <button routerLink='./' class="button is-text">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--  GET DOCTORS   -->
          <div *ngIf="showDoctors">
              <section class="hero is-dark is-bold is-small promo-block">
                  <div class="hero-body">
                    <div class="container">
                      <h1 class="title">
                        <i class="fa fa-heartbeat"></i>
                        Lekarze dostępni w systemie
                      </h1>
                      <h2 class="subtitle">
                      </h2>
                    </div>
                  </div>
                </section>
                <br>
            <table class="table is fullwidth is-striped">
              <thead class="thead">
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Szczegóły</th>
              </thead>
              <tbody *ngFor="let doctor of doctors">
                <tr>
                  <td width="10%">{{doctor.firstName}}</td>
                  <td width="10%">{{doctor.lastName}}</td>
                  <td width="10%">{{doctor.email}}</td>
                  <td>
                    <a class="button is-small is-primary" routerLink='/doctors/{{doctor.id}}'>Przejdź</a>
                  </td>
                  <br>
                  <br>
                </tr>
              </tbody>
            </table>
          </div>
          <!--  GET USERS   -->
          <div *ngIf="showUsers">
              <section class="hero is-dark is-bold is-small promo-block">
                  <div class="hero-body">
                    <div class="container">
                      <h1 class="title">
                        <i class="fa fa-users"></i>
                        Użytkownicy dostępni w systemie
                      </h1>
                      <h2 class="subtitle">
                      </h2>
                    </div>
                  </div>
                </section>
                <br>
            <table class="table is fullwidth is-striped">
              <thead class="thead">
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Szczegóły</th>
              </thead>
              <tbody *ngFor="let user of users">
                <tr>
                  <td width="10%">{{user.firstName}}</td>
                  <td width="10%">{{user.lastName}}</td>
                  <td width="10%">{{user.email}}</td>
                  <br>
                  <br>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>