<table class="table is fullwidth is-striped">
  <thead class="thead">
    <th>ID</th>
    <th>Nazwa</th>
    <th width="10%">Liczba Lekarzy</th>
    <th>Strona specjalizacji</th>
  </thead>
  <tbody *ngFor="let spec of specs">
    <tr>
      <td width="10%">{{spec.id}}</td>
      <td width="10%">{{spec.name}}</td>
      <table class="is-hoverable">
        <tbody *ngFor="let specStat of specsStats">
          <td *ngIf="specStat.id==spec.id">{{specStat.count}}</td>
        </tbody>
      </table>
      <td>
        <a class="button is-small is-primary" routerLink='/specs/{{spec.id}}'>Przejdź</a>
      </td>
      <br>
      <br>
    </tr>
  </tbody>
</table>