<table class="table is fullwidth is-striped">
  <thead class="thead">
    <th>Id</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>E-mail</th>
    <th>Administrator</th>
  </thead>
  <tbody *ngFor="let user of users">
    <tr>
      <td width="10%">{{user.id}}</td>
      <td width="10%">{{user.firstName}}</td>
      <td width="10%">{{user.lastName}}</td>
      <td width="10%">{{user.email}}</td>
      <td width="10%">{{user.admin ? "Tak": "Nie"}}</td>
      <br>
      <br>
    </tr>
  </tbody>
</table>