<section class="hero is-medium is-dark is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" routerLink="">
                        <img src="/assets/logo.png" alt="Logo">
                    </a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" routerLink="" routerLinkActive="active">
                            Strona główna
                        </a>
                        <a class="navbar-item" routerLink="/specs" routerLinkActive="active">
                            Specjalizacje
                        </a>
                        <a class="navbar-item" routerLink="/login" routerLinkActive="active">
                            Zaloguj się
                        </a>
                        <a class="navbar-item" routerLink="">
                            Zarejestruj się
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Nowy standard kliniki Medicare
            </h1>
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </h2>
        </div>
    </div>
</section>